<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      .block {
        display: block;
        margin-top: 10px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h3>Html5 WebSockets Example.</h3>
    <div id="message" class="block"></div>
    <button id="connectBtn" onclick="logCs()">Connect</button>
    <button id="disconnectBtn" onclick="disconnect()">Disconnect</button>

    <label for="text">Send something</label>
    <input type="text" id="text" onfocus="selectAll()" />
    <!-- ... -->
    <button id="sendTextBtn" onclick="sendMessage()">Send Message</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>

    <!-- Ovaj deo kooda dole ne radi kada se pozove ovako -->
    <!-- TODO: Srediti ovo da radi kao odvojeni fajl -->
    <script type="text/javascript" src="../wsClient.js"></script>
  </body>
</html>
