<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log in</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

  <%- include('../resources/components/user_navbar.ejs') %>

  <form method="post" action="/user/login" enctype="application/x-www-form-urlencoded">

    <br><br>
    <div class="container">
      <div class="row align-items-center" align="center">
        <div class="col">
        </div>
        <div class="col">

          <h4 style="color: whitesmoke">Username:</h4>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username" />

          <br>

          <h4 style="color: whitesmoke">Password:</h4>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" />

          <button type="button" class="btn btn-secondary btn-sm float-start" style="margin-top: 10px">Forgot
            password?</button>

          <br><br><br>

          <a href="/user/register" type="button" class="btn btn-secondary" style="width:49%">Not a member?
            Register</a>
          <input type="submit" class="btn btn-success" style="width:49%" value="Sign in"></input>

          <br><br>

          <% if(result===false) { %>
          <div class="alert alert-danger" role="alert">
            ✗ Username or password is incorrect!
          </div>
          <% } %>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
</body>

</html>