<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<head>
  <title>Client</title>
</head>

<body onload="init()">
  <img src="" alt="" id="window">
  <script src="https://bundle.run/buffer@6.0.3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
  <script type="text/javascript" src="http://localhost:5000/static/stream/wsStreaming.js"></script>

  <script>
    console.log("Preparing video stream");
    // get img dom element
    const img = document.getElementById('window');
  </script>
</body>

</html>