<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body onload="init()">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>


  <%- include('../resources/components/new_navbar.ejs') %>

  <br><br>
  <div class="container mt-4">
    <div class="card shadow p-4" style="width: 800px; margin: auto;">
      <div class="row align-items-center">
        <h3>Androdi aplikacija</h3><br>
        <script type="text/javascript" src="http://localhost:5000/static/stream/wsStreaming.js"></script><br>
        <button id="connectBtn" onclick="connect()">Konektuj se</button>
        <h4>Status konekcije: </h4> <!-- Ovde treba dodati da li je klijent konektovan -->
        <button class="btn btn-primary mt-3" id="goForward" onclick="sendNXTControl('forward')">Idi napred</button>
        <button class="btn btn-primary mt-3" id="goLeft" onclick="sendNXTControl('left')">Okreni se levo</button>
        <button class="btn btn-primary mt-3" id="goRight" onclick="sendNXTControl('right')">Okreni se desno</button>
        <button class="btn btn-primary mt-3" id="goBack" onclick="sendNXTControl('back')">Idi nazad</button>
        <button class="btn btn-primary mt-3" id="autopilotOn" onclick="">Ukljuci autopilota</button>
        <button class="btn btn-primary mt-3" id="autopilotOff" onclick="">Iskljuci autopilota</button>
      </div>
    </div>
  </div>
</body>

</html>