<style>
  body {
    background-color: white;
  }

  shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  }

  .shadow-navbar {
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  @font-face {
    font-family: hubotSans;
    src: url('https://fonts.cdnfonts.com/css/hubot-sans');
  }

  div {
    font-family: 'Hubot-Sans', sans-serif;
  }

  .vl {
    border-left: 2px solid gray;
  }
</style>

<br>

<div class="container-sm sticky-top p-3 fixed-top">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark rounded shadow-navbar">
    <div class="container-fluid">
      <a class="navbar-brand">NXT GUI Server</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Main page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tickets">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stream">Stream</a>
          </li>

          <div class="vl"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/tickets">Tickets</a></li>
              <li><a class="dropdown-item" href="/admin/logs">Logs</a></li>
              <li><a class="dropdown-item" href="/admin/users/list">Users</a></li>
              <li><a class="dropdown-item" href="/admin/changelog/add">Create changelog</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Restart robot server</a></li>
            </ul>
          </li>
        </ul>
        <div class="vl"></div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/profile">Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </li>
        </ul>
  </nav>
</div>