<style>
    body {
        background-color: #363636;
    }

    .card {
        background-color: #212529;
        color: white;
        transition: 0.2s;
    }

    .card:hover {
        background-color: #343d46;
        color: white;
        transform: scale(1.03);
        transition: all 0.2s;
    }
</style>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">NXT GUI Server</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Main page</a>
                </li>

                <% if(user) { %>
                    <% if(user['role']=="admin" ) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/dashboard">Admin dashboard</a>
                        </li>
                        <% } %>
                            <% } %>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Robots</a>
                                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <% if(user['role'] !=="guest" ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">Log out</a>
                    </li>
                    <% }else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/register">Register</a>
                        </li>
                        <% } %>

            </ul>
        </div>
    </div>
</nav>