<style>
    #adminAuthAlertModal-header {
        background-color: #9e0e04;
        color: white;
        transition: 0.2s;
    }
</style>

<div class="modal fade" id="adminAuthAlertModal" tabindex="-1" aria-labelledby="adminAuthAlertModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="adminAuthAlertModal-content">
            <div class="modal-header" id="adminAuthAlertModal-header">
                <h6 class='modal-title' id='verifyModal-title'>Authorization failed</h6>
            </div>
            <div class="modal-body" id="verifyModal-body">
                <p>Check your credentials, and try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="verifyModal-close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>